
<h1> Elija el modo de juego: </h1>

<a href="/quizzes/randomplay"> <button type="button"> Random Play Mode </button></a>

<div style = "display:inline-block;  width: 8px;"> </div>

<a href="/quizzes/challengeplay"><button type="button"> Challenge Mode </button></a>
